.ule {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

.lie {
  float: left;
}

.lie a, .dropbtn {
  display:inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.lie a:hover, .dropdown:hover .dropbtn {
  background-color: #BDB76B;
}

.lie.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 0px;
}

.dropdown-content a {
  color: black;
  padding:16px;
  text-decoration: none;
  display: inline;
  text-align: left;

}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.wellcome{
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }