{% extends 'masterpage.html'%}

{% load static %}

{% block stylelink %}
<link href="{% static 'grading/grading_css/cartstyles.min.css' %}" rel="stylesheet">
{% endblock %}

{% block toggle %}
          <nav class="menu-nav col-xs-3 col-sm-9">
            <div class="menu-toggle">
              <div class="menu-toggle__inner"></div>
            </div>
            <ul
              class="menu align-center header_menu_desktop_case_upper header_submenu_desktop_case_capitalize header_menu_mobile_case_capitalize header_submenu_mobile_case_capitalize">
              <li class="menu__item menu-mobile-logo"><a class="header-logo__link"
                  href="https://nowadays.likeaprothemes.com/" rel="home">Nowa<span class="theme-color">Days</span></a>
              </li>
                 {% if home_login_url %}
              <li class="menu__item  menu-item menu-item-type-custom menu-item-object-custom"><a
                  class="menu__link" href="{% url 'login_home' %}"
                  target="_self">Home</a></li>
                  {% else %}
              <li class="menu__item  menu-item menu-item-type-custom menu-item-object-custom"><a
                    class="menu__link" href="/"
                    target="_self">Home</a></li>
                  {% endif %}
                  {% if Login_Database_url %}
                  <li class="menu__item  menu-item menu-item-type-custom menu-item-object-custom"><a class="menu__link"
                    href="{% url 'login_db' %}" target="_self">Database</a></li>
                  {% else %}
              <li class="menu__item  menu-item menu-item-type-custom menu-item-object-custom"><a class="menu__link"
                  href="{% url 'db' %}" target="_self">Database</a></li>
                  {% endif %}
                  {% if Login_submission_url %}
                  <li class="menu__item  menu-item menu-item-type-custom menu-item-object-custom"><a class="menu__link"
                    href="{% url 'login_sub' %}" target="_self">Submission</a></li>
                  {% else %}
              <li class="menu__item  menu-item menu-item-type-custom menu-item-object-custom"><a class="menu__link"
                  href="{% url 'sub' %}" target="_self">Submission</a></li>
                  {% endif %}
                  {% if Login_shop_url %}
                  <li class="menu__item  menu-item menu-item-type-custom menu-item-object-custom"><a class="menu__link menu__link_active"
                    href="{% url 'login_shop' %}" target="_self">Shop</a></li>
                  {% else %}
                  <li class="menu__item  menu-item menu-item-type-custom menu-item-object-custom"><a class="menu__link menu__link_active"
                      href="{% url 'shop' %}" target="_self">Shop</a></li>
                  {% endif %}
                 
                  {% if Login_contacts_url %}
                  <li class="menu__item  menu-item menu-item-type-custom menu-item-object-custom"><a class="menu__link"
                    href="{% url 'login_contact' %}" target="_self">Contacts</a></li>
                  {% else %}
              <li class="menu__item  menu-item menu-item-type-custom menu-item-object-custom"><a class="menu__link"
                  href="{% url 'contact' %}" target="_self">Contacts</a></li>
                  {% endif %}
                  {% if loginName %}
                  <li class="menu__item  menu-item menu-item-type-custom menu-item-object-custom" style="float: right;font-size: 20px;">
                    <!-- <a href="cart"><i class="fa fa-shopping-cart mr-1"></i></a> -->
                    <a href="cart"><i class="fa badg" value=0>&#xf07a;</i></a>
                  </li>
                  <li class="dropdown menu__item  menu-item menu-item-type-custom menu-item-object-custom" id="shift" style="float: right;">
                    <div>
                    <a  id="line" style="padding: 0; height: 12.2vh; font-size: 13px;" href="javascript:void(0)" class="dropbtn">{{loginName}}</a>
                    <div class="dropdown-content">
                      <a href="{% url 'logout' %}">Logout</a>
                    </div>
                  </div>
                  </li>
              <li id="des" class="menu__item  menu-item menu-item-type-custom menu-item-object-custom" style="margin-right: 5px; float: right; padding-top: 33px;font-size: 13px;">
                <h6 class="wellcome" style="font-size: 13px;">Welcome</h6>
              </li>
              {% else %}
              <li class="menu__item  menu-item menu-item-type-custom menu-item-object-custom flr" id="signlog"><a class=" mr12"
                    href="{% url 'Sin_Up' %}" id="sig" target="_self">Sign up</a><a class="" href="{% url 'login' %}" id="log" target="_self">Login</a></li>
              
              {% endif %}
            </ul>
            {% if messages %}
            {% for message in messages %}
             {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    
            {% endfor %}
    
        {% endif %}
          </nav>
          {% endblock %}


{% block background %}
{% endblock %}
          
{% block product %}
{% endblock %}

{% block section %}

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{%  static 'grading/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'grading/grading_css/cart_style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'grading/grading_css/exp.css' %}">
    <link rel="stylesheet" href="{% static 'grading/grading_css/table.css' %}">
</head>

<body>
<br><br><br>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5" style="padding: 0;">

            
    
            <div class="card-swiper bd">
                <h1 class="font-weight-semi-bold text-uppercase mb-3 shopingfont">Shopping Cart</h1>
                <div class="card-groups">
                  <div class="card-group" data-index="0" data-status="active">
                    <div class="little-card card">
              
                    </div>
                    <div class="big-card card">
              
                    </div>
                    <div class="little-card card">
              
                    </div>
                    <div class="big-card card">
              
                    </div>
                    <div class="little-card card">
              
                    </div>
                    <div class="big-card card">
              
                    </div>
                    <div class="little-card card">
              
                    </div>
                    <div class="big-card card">
              
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5 br">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <td class="align-middle"><img src="{% static 'grading/grading_images/product-1.jpg' %}" alt="" style="width: 50px;"> Colorful Stylish Shirt</td>
                            <td class="align-middle">$150</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">$150</td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                        </tr>
                        <tr>
                            <td class="align-middle"><img src="{% static 'grading/grading_images/product-2.jpg' %}" alt="" style="width: 50px;"> Colorful Stylish Shirt</td>
                            <td class="align-middle">$150</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">$150</td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                        </tr>
                        <tr>
                            <td class="align-middle"><img src="{% static 'grading/grading_images/product-3.jpg' %}" alt="" style="width: 50px;"> Colorful Stylish Shirt</td>
                            <td class="align-middle">$150</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">$150</td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                        </tr>
                        <tr>
                            <td class="align-middle"><img src="{% static 'grading/grading_images/product-4.jpg' %}" alt="" style="width: 50px;"> Colorful Stylish Shirt</td>
                            <td class="align-middle">$150</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">$150</td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                        </tr>
                        <tr>
                            <td class="align-middle"><img src="{% static 'grading/grading_images/product-5.jpg' %}" alt="" style="width: 50px;"> Colorful Stylish Shirt</td>
                            <td class="align-middle">$150</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">$150</td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">$150</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">$160</h5>
                        </div>
                        <button class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <a class="text-dark font-weight-semi-bold" href="#">Site Name</a>. All Rights Reserved. Designed
                    by
                    <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">HTML Codex</a><br>
                    Distributed By <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="{% static 'grading/grading_images/payments.png' %}" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'grading/lib/easing/shopeasing.min.js' %}"></script>
    <script src="{% static 'grading/lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'grading/mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'grading/mail/shopcontact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'grading/grading_js/shop_main.js' %}"></script>


{% endblock %}


{% block check %}
{% endblock %}

{% block carousal %}
{% endblock %}

{% block team %}
{% endblock %}

{% block client %}
{% endblock %}

{% block footer %}
{% endblock %}